{
  "databaseFile": "TRTL.db",
  "logLevel": 2,
  "botToken": "{BOT_TOKEN}",
  "botPrefix": ".",
  "botMessageCache": 100,
  "coinName": "TurtleCoin",
  "coinSymbol": "TRTL",
  "coinUnits": 100,
  "coinAddressLength": 99,
  "coinAddressPrefix": "TRTL",
  "tipFee": 0.1,
  "tipMixin": 3,
  "tipSuccessReact": "💸",
  "tipFailedReact": "🆘",
  "tipLowBalanceReact": "❌",
  "tipJoinReact": ":tip:",
  "tipCustomReacts": {
    ":kev:": 99.5,
    ":99:": 99,
    "🍆": 1234.56
  },
  "faucetHost": "https://faucet.trtl.me/",
  "faucetEndpoint": "https://faucet.trtl.me/balance",
  "faucetAddress": "TRTLv2oecJvd3299JPv78BMEqCeQAMtdoB85r1d5dfVFeGG7f83LB58i4gxsthLtWpD2QijVTmgbHhhC1QvJ2ABRea4VedLmqX8",
  "marketSource": "TradeOgre",
  "marketEndpoint": "https://tradeogre.com/api/v1/ticker/BTC-TRTL",
  "marketBTCEndpoint": "https://www.bitstamp.net/api/ticker/",
  "marketDisallowedServers": [
    388915017187328002
  ],
  "daemonHost": "public.turtlenode.io",
  "daemonPort": 11898,
  "walletHost": "127.0.0.1",
  "walletPort": 8070,
  "walletRpcPassword": "12345",
  "walletUpdateDelay": 500
}
