{
  "databaseFile": "TRTL.db",
  "logLevel": 2,
  "botToken": "BOT_TOKEN",
  "botPrefix": "+",
  "botMessageCache": 100,
  "coinName": "TurtleCoin",
  "coinSymbol": "TRTL",
  "coinUnits": 100,
  "coinAddressLength": 99,
  "coinAddressPrefix": "TRTL",
  "tipFee": 0.1,
  "tipMixin": 3,
  "tipSuccessReact": "💸",
  "tipFailedReact": "🆘",
  "tipLowBalanceReact": "❌",
  "tipJoinReact": ":canti:",
  "tipCustomReacts": {
    ":menks:": 1,
    ":kev:": 10000
  },
  "faucetHost": "https://faucet.trtl.me/",
  "faucetEndpoint": "https://faucet.trtl.me/balance",
  "faucetAddress": "TRTLv14M1Q9223QdWMmJyNeY8oMjXs5TGP9hDc3GJFsUVdXtaemn1mLKA25Hz9PLu89uvDafx9A93jW2i27E5Q3a7rn8P2fLuVA",
  "marketSource": "TradeOgre",
  "marketEndpoint": "https://tradeogre.com/api/v1/ticker/BTC-TRTL",
  "marketBTCEndpoint": "https://www.bitstamp.net/api/ticker/",
  "marketDisallowedServers": [
    388915017187328002
  ],
  "daemonHost": "127.0.0.1",
  "daemonPort": 11898,
  "walletHost": "127.0.0.1",
  "walletPort": 8070,
  "walletRpcPassword": "12345",
  "walletUpdateDelay": 500
}